body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container-body
{
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 6em 1fr;
    grid-template-areas: "header header"
                         "barra-nav peliculas";
    height: 100vh;
}

.body
{
    /* border: 3px solid red; */
}

/* css header */

.container-header
{
    display: grid;
    grid-template-columns: auto minmax(100px,.9fr) auto;
    justify-content: center;
    height: 100%;
    grid-gap: 10px;
}

.contenedor-logo
{
    display: grid;
    grid-template-columns: 50px auto;
}

.info-perfil
{
    display: grid;
    grid-template-columns: 130px auto;
}

.item-log
{
    /* border: 1px solid red; */
    align-self: center;
}

.item-per
{
    /* border: 1px solid red; */
    align-self: center;
    justify-self: flex-end;
}

.item
{
    align-self: center;
    /* border: 1px solid blue; */
}

.item:nth-of-type(1)
{
    justify-self: flex-end;
}

/* .item:nth-of-type(4)
{
    justify-self: flex-end;
}
.item:nth-of-type(5)
{
    align-self: center;
} */

.header
{
    /* width: 100vw; */
    /* height: 2em; */
    background: rgb(238, 238, 238);
    grid-area: header;
}

.header h2
{
    font-size: 1.3em;
    margin: 0;
}

h1.titulo-pag
{
    -webkit-text-stroke: 1.2px red ;
    color: transparent;
    margin: 0;
}

.logo img
{
    max-width: 50px;
    width: 100%;
    padding: auto;
}

figure.logo 
{
    margin: 0;
}

.perfil
{
    border-radius: 50%;
    /* border: 1px solid red; */
    background-color: white;
    max-width: 0;
    width: 100%;
    padding: 1.45em;
    background-image: url(../imagenes/perfil.jpg);
    background-size: 150%;
    background-position-x: -.4em;
}

.barra-busqueda input
{
    
    min-width: 420px;
    max-width: 30em;
    width: 100%;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid grey;
    box-sizing: border-box;
    font: inherit;
    
}

/* css barra de navegacion */

.container-nav
{
    display: grid;
    grid-template: 1em 6em 6em 6em 1fr 1em / 6em;
    grid-template-areas: "."
                         "home"
                         "trending"
                         "likes"
                         "ajustes"
                         ".";
    height: inherit;
    background-image: linear-gradient(to right, #fe555c, #fe5c60, #ff6364, #ff6a68, #ff706c);
    grid-gap: 10px;
}

.container-nav a
{
    text-decoration: none;
    color: inherit;
}

.nav:nth-of-type(1)
{
    grid-area: home;
}
.nav:nth-of-type(2)
{
    grid-area: trending;
}
.nav:nth-of-type(3)
{
    grid-area: likes;
}
.nav:nth-of-type(4)
{
    grid-area: ajustes;
    align-self: flex-end;
}

.nav 
{
    /* border: 1px solid blue; */
}

.barra-nav
{
   /*  background: rgb(245, 107, 107); */
    /* width: 6em; */
    color: white;
    text-align: center;
    display: inline-block;
    height: 100%;
    grid-area: barra-nav;
}

.barra-nav figure, h3
{
    margin: 0;
}

.home img
{
    max-width: 2.3em;
    width: 100%;
}
.trending img
{
    max-width: 2.3em;
    width: 100%;
}
.likes img
{
    max-width: 2.3em;
    width: 100%;
}
.ajustes img
{
    max-width: 2.3em;
    width: 100%;
}

/* css peliculas */

.peliculas
{
    grid-area: peliculas;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.estreno-sec1
{
    display: grid;
    grid-template: repeat(2,auto)/ auto;
    /* border: 1px solid blue; */
    grid-template-areas: "titulo"
                         "baner";
}

.sec1 
{
    /* border: 1px solid blue; */
}

.baner-sub1
{
    grid-area: baner;
    display: grid;
    grid-template-rows: .5fr;
    grid-template-columns: repeat(100,auto);
    overflow: auto; 
    grid-gap: 50px;
    padding: 20px;
}

.sub1 
{
    /* border: 1px solid blue; */
}

.titulo-estreno
{
    grid-area: titulo;
    font-size: 1.1em;
    padding-top: 20px;
    padding-left: 20px;
}

.titulo-estreno h2
{
    margin: 0;
}

.baner-peli
{
    position: relative;
    width: 400px;
    display: block;
    -webkit-box-shadow: 10px -1px 30px -12px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px -1px 30px -12px rgba(0,0,0,0.6);
    box-shadow: 10px -1px 30px -12px rgba(0,0,0,0.6)}
.baner-peli figure
{
    margin: 0;
}

.baner img
{
    max-width: 400px;
}

.resumen-peli
{
    background: rgba(248, 99, 99, 0.705);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    color: white;
}

.resumen-peli h2
{
    margin: .3em;
}

.resumen-peli p
{
    margin: .6em;
    margin-top: 0;
    text-align: justify;
}

/* media queris */
@media screen and (max-width:1024px)
{
    /* media header */
    .container-header
    {
        width: 100vw;
    }
    .barra-busqueda input 
    {
        min-width: 100%;
    }
    .item:nth-of-type(1) {
        justify-self: initial;
    }
}
@media screen and (max-width: 768px)
{
    .header,.barra-nav
    {
        width: 100vw;
    }
    .container-body
    {
        grid-template-rows: 60px 1fr 6em;
        grid-template-columns: auto;
        grid-template-areas: "header"
                         "peliculas" 
                         "barra-nav";
    }

    /* media barra de navegacion */

    .container-nav
    {
        grid-template: 6em / repeat(4,1fr) ;
        grid-template-areas: "home trending likes ajustes";
        justify-content: space-evenly;
    }
    .nav
    {
        align-self: center;
    }
    .nav:nth-of-type(4)
    {
        align-self: center;
    }
    
}

@media screen and (max-width: 480px)
{
    /* media header */
    .container-header
    {
        justify-content:space-evenly;
        grid-gap: initial;
    }
    .info-perfil
    {
        grid-template-columns: auto;
    }
    .item-per:nth-of-type(1) {
        display: none;
    }
}