body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h2,h3,h4,p,figure
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: inherit;
}

.body-container
{
    display: grid;
    grid-template-columns: 18em 1fr; 
    height: 100vh;
    grid-template-areas: "header-barra browse";
}

/* header container */

.header-barra
{
    background: rgb(21, 27, 49);
    color: white;
    grid-area: header-barra;
    height: 100vh;
    /* overflow: auto; */
}
.header-barra h1,h2,h3
{
    margin: 0;
}

.container-header-barra
{
    display: grid;
    grid-template-rows: 4em auto 1fr ;
    /* height: 100vh; */
    padding: .5em;
    padding-right: 1.7em;
}

.item-hb
{
    /* border: 1px solid red; */
    padding: .6em;
}

    /* Titulo de la pagina PlatziVideo */

.titulo-header
{
    display: grid;
    grid-template-columns:2.75em auto;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 2em;
}

.item-th
{
    align-items: center;
}

.video-tex
{
    background-image: linear-gradient(to right, #fd3138, #fa4774, #fb539f, #ff83d4, #f099f4);-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    /* Mi playlist */

.miplaylist
{
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 1em;
}

.item-mp
{
    /* border: 1px solid red; */
}

.playlist
{
    display: grid;
    grid-template-rows: repeat(12,auto);
    margin: 0;
    padding-inline-start: 1.7em;
    gap: .5em;
    overflow: auto;
}

.item-pl 
{
    /* border: 1px solid red; */
}

    /* Playlist Amigos  */

.playlist-amigos
{
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 1em;
}

.item-pa
{
    /* border: 1px solid red; */
}

.amigos
{
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns:2.5em auto; 
    column-gap: .5em;
    row-gap: 1em;
}

.item-a
{
    /* border: .1px solid red; */
    align-self: center;
}
.amigos div
{
    display: flex;
}

.imagen1
{
    background-image: url(../imagenes/steve.webp);
    border-radius: 50%;
    padding: 1.2em;
    background-size: cover;
    background-position: center;
}

.imagen2
{
    background-image: url(../imagenes/angela.jpg);
    border-radius: 50%;
    padding: 1.2em;
    background-size: cover;
}

.imagen3
{
    background-image: url(../imagenes/jim.jpg);
    border-radius: 50%;
    padding: 1.2em;
    background-size: cover;
    background-position: center;
}

.imagen4
{
    background-image: url(../imagenes/pam.jpg);
    border-radius: 50%;
    padding: 1.2em;
    background-size: cover;
}

/* browse */

.browse
{
    grid-area: browse;
    height: 100vh;
    overflow: auto;
}

.container-browse
{
    display: grid;
    grid-template-rows: 700px auto 1fr;
    grid-template-columns: minmax(562px,1fr);
    height: 100%;
}

.item-b
{
    /* border: 1px solid red; */
}

    /* Parte del video */

.video iframe
{
    width: 100%;
    height: 100%;
}

    /* Informacion del video */

.informacion-video
{
    display: grid;
    grid-template-columns:auto 1fr;
    border-bottom: 2px solid rgb(206, 206, 206); 
}

.item-iv
{
    /* border: 1px solid red; */
    align-self:flex-end; 
    padding: 1em;
}

.vistas
{
    color: rgb(161, 161, 161);
}

.container-botones
{
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.container-botones button
{
    font-family: inherit;
}

.lista 
{
    background-image: linear-gradient(to right, #fd3138, #fa4774, #fb539f, #ff83d4, #f099f4);
    color: white;
    border: 0px solid;
    border-radius: 10px;
    padding: .5em;
    outline: none;
    cursor: pointer;
}

.compartir
{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    max-height: 23px;
    max-width: 60px;
    padding: 0;
    position: relative;
    bottom: .4em;
}
.compartir img
{
    max-width: 15px;
    opacity: 0.55;
}

.guardar
{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    max-height: 23px;
    max-width: 60px;
    padding: 0;
    position: relative;
    bottom: .7em;
}

.guardar img
{
    max-width: 20px;
    opacity: 0.55;
}

.container-categoria button
{
    font-family: inherit;
    color: white;
    border: 0px solid;
    border-radius: 15px;
    padding-top: .1em;
    padding-bottom: .1em;
    min-width: 60px;
    outline: none;
    cursor: pointer;
}

.boton-1
{
    background: #9b54f2;
}

.boton-2
{
    background: #10eebf;
}

.boton-3
{
    background: #e01622;
}

.boton-4
{
    background: #ed3084;
}

/* comentarios-sugerencias */

.comentarios-sugerencias
{
    display: grid;
    grid-template-columns: minmax(20em,32em) 560px;
}

.item-cs
{
    /* border: 1px solid red; */
    padding: 1.5em;
}

.container-comentarios
{
    display: grid;
    grid-template-rows: 1.5em 2.1em;
    grid-auto-rows: 3em;
    row-gap: 1em;
}

.item-ccoment
{
    /* border: 1px solid red; */
}

.container-sugerencias
{
    display: grid;
    grid-template-rows: 1.5em;
    grid-auto-rows: 360px;
    row-gap: 1em;
}
.item-csuge
{
    /* border: 1px solid red; */
}

    /* Añadir comentarios */

.añadir-comentario
{
    background: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 2.2em 1fr; 
    border-radius: 5px;
    border: 1px solid rgba(185, 185, 185, 0.664);
}

.añadir-comentario input
{
    background: transparent;
    border: 0px solid;
    outline: none;
}

.perfil-acoment
{
    max-width: 1.7em;
    border-radius: 50%;
    align-self: center;
    justify-items: center;
    margin: 0 auto;
}

    /* Comentarios */


.container-comentario
{
    display: grid;
    grid-template-rows: [inicio] 1em [medio] auto [final];
    grid-template-columns: [inicio]2.5em [medio]1fr[final]; 
}

.item-coment 
{
    /* border: 1px solid red; */
}

.perfil-coment
{
    grid-row: 1 / span 2; 
    border-radius: 50%;
    align-self: center;
    justify-items: center;
    padding: 1.2em;
}

.perfil1
{
    background-image: url(../imagenes/steve.webp);
    background-size: cover;
}

.perfil2
{
    background-image: url(../imagenes/ellie.jpg);
    background-size: cover;
    background-position: center;
}

.perfil3
{
    background-image: url(../imagenes/jim.jpg);
    background-size: cover;
    background-position: center;
}

.perfil4
{
    background-image: url(../imagenes/pam.jpg);
    background-size: cover;
    background-position: top;
}

.perfil5
{
    background-image: url(../imagenes/rainn-wilson.webp);
    background-size: cover;
    background-position: center;
}

/* Sugerencias */

.container-sugerencia
{
    /* display: grid;
    grid-template-rows: 316px 1em;
    grid-template-columns: 560px;  */
}